{% extends 'base.html.twig' %}

{% block title %}Hello ChambreRaniaSelmiController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>
<table class="detail-table">
    <tr>
        <th>Number</th>
        <td>{{ chambre.numchRaniaSelmi }}</td>
    </tr>
    <tr>
        <th>Patient</th>
        <td>{{ chambre.patientRaniaSelmi ?: '—' }}</td>
    </tr>
    <tr>
        <th>Hospital</th>
        <td>{{ chambre.hospitalRaniaSelmi ? chambre.hospitalRaniaSelmi.nomRaniaSelmi : '—' }}</td>
    </tr>
</table>

<div class="actions">
    <a href=\"{{ path('app_chambre_rania_selmi') }}\">Back to list</a>
</div>
{% endblock %}